fastapi
uvicorn[standard]
sqlalchemy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
biopython
pandas
numpy
scikit-learn
torch
transformers
einops
joblib
jinja2
tqdm
accelerate
aiofiles
psycopg2-binary
email-validator
