fastapi
uvicorn
sqlalchemy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
biopython
psycopg2-binary
pandas
numpy
scikit-learn
torch
transformers
einops
joblib
streamlit
jinja2
tqdm
accelerate
